
<% include partials/header.ejs %>

<% include partials/footer.ejs %>


<h1> About E-Z Scooter  </h1>


<p> E-Z scotter began in 1995 as a small company located just North of Pomona, CA. E-Z scooter's
mission from the beggining was to offer an easy and eco-friendly way for student or proefssionals to get around
    campus. Our scooters are light, portable, eco-friendly and aesthetic. Login in to find out more!

</p>