
<!DOCTYPE html>


<% include partials/header %>
<% include partials/footer %>

<h1>



Find out which scooter is best for you

</h1>

<h5> Here at E-Z  Scooter we strive to provide you with the best scooter for all your needs
so click the about page to find out more about who we are or login to get rolling!
</h5>




